@model UserRegistrationModel

@if (Model == null)
{
    <br />
    <h2 class="text-info">User Registration Form:</h2>
    <br />
}
else
{
<br />
<h2 class="text-info">User Profile:</h2>
<br />
}

<div class="border container" style="padding:30px;">
    <form method="post" asp-controller="UserRegistration" asp-action="Post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-6">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="LastName" title="Last Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-6">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Password"></label>
            </div>
            <div class="col-6">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Location"></label>
            </div>
            <div class="col-6">
                <select asp-for="Location" class="form-control" asp-items="ViewBag.ListOfLocation"></select>
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="MobileNo"></label>
            </div>
            <div class="col-6">
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="DOB"></label>
            </div>
            <div class="col-6">
                <input asp-for="DOB" type="date" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Gender"></label>
            </div>
            <div class="col-6">
                <select asp-for="Gender" class="form-control" asp-items="ViewBag.ListOfGender"></select>
                <span asp-validation-for="Gender" class="text-danger" />
            </div>
        </div>
        @if (Model == null)
        {
            <div class="form-group row">
                <div class="offset-3 col-3">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
                <div class="col-3">
                    <button type="reset" class="btn btn-primary form-control">Reset</button>
                </div>
            </div>
        }
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}